<div class="container col-8">
<br>
<br>
    <div class="display-5 text-center"
    style="font-weight: bold; font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">{{nomentreprise}} vous alloue ses services de {{profession}}
    </div><br><br>

    <!-- <section>
        <p *ngIf="client == null || client == '' " class="text-danger">
            Veuillez entrer votre nom pour commencer vos achats :)
        </p>
        <div>
            <label for="client">SAISIR VOTRE NOM:</label>
            <input type="text" name="client" [(ngModel)]="client" class="form-control">
        </div>
    </section> -->

    <button class="btn btn-warning" routerLink="/entreprises">Retour aux entreprises</button> <br><br>


    <table class="table">
        <thead>
            <tr>
                <th>Prestation</th>
                <th>Tarif</th>
                <th>Quantité</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of listeLignePrestations">
                <td> {{c.prestation.prestation}}</td>
                <td> {{c.prestation.tarif}}</td>
                <td> <input type="number" class="form-control" id="quantite" placeholder="0" name="quantite"
                        [(ngModel)]="c.quantite"></td>
                <td> <button (click)="select(c)" class="btn btn-dark">Ajouter cette prestation</button></td>
            </tr>
        </tbody>
    </table>

    <section *ngIf="panier.listLignePresta.length > 0" class="mt-4">
        <p class="text-center"
        style="font-weight: bold; font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: xx-large;">{{client}} voici votre panier</p>
        <ul class="list-group">
            <li *ngFor="let p of panier.listLignePresta" class="list-group-item col">
                <div class="row">
                    <div class="col">
                        {{p.quantite}} x {{p.prestation.prestation}} à {{p.prestation.tarif}} pour un total de
                        {{p.totalLigne}} euros.
                    </div>
                    <div class="col d-flex flex-row-reverse">
                        <button class="btn btn-danger" (click)="remove(p)">Supprimer</button>
                    </div>
                </div>
            </li>
        </ul>


        <div class="row mt-4">
            <div class="col input-group">
                <span class="input-group-text">Total du panier</span>
                <input type="text" class="form-control bg-transparent" placeholder="{{panier.totalPanier}}€" disabled>
            </div>
            <div class="col">
                <button (click)="valideCommande()" class="btn btn-success">Valider la commande</button>
            </div>
        </div>

    </section>

</div>