<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="text-center text-uppercase bg-warning col-12 rounded" style="
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
      ">
            Les entreprises partenaires 👌
        </h2>
        <br />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col w-50">
                <div class="card shadow-lg border-warning">
                    <img src="assets/images/img9.png" class="rounded-circle" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" />
                    <title>Placeholder</title>

                    <div class="card-body">
                        <h2 class="card-text font-weight-bold text-center">Menuiserie</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <ul>
                                <li>Vos travaux de menuiserie</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-50">
                <div class="card shadow-lg border-warning">
                    <img src="assets/images/img10.png " class="rounded" width="100% " height="225 " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false " />
                    <title>Placeholder</title>

                    <div class="card-body">
                        <h2 class="card-text font-weight-bold text-center">Plomberie</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <ul>
                                <li>Vos travaux de plomberie</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-50">
                <div class="card shadow-lg border-warning">
                    <img src="assets/images/img13.png " class="rounded" width="100% " height="225 " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false " />
                    <title>Placeholder</title>

                    <div class="card-body">
                        <h2 class="card-text font-weight-bold text-center">Maçonnerie</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <ul>
                                <li>Vos travaux de maçonnerie</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-50">
                <div class="card shadow-lg border-warning">
                    <img src="assets/images/img14.png " class="rounded" width="100% " height="225 " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false " />
                    <title>Placeholder</title>

                    <div class="card-body">
                        <h2 class="card-text font-weight-bold text-center">Peinture</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <ul>
                                <li>Vos travaux de peinture</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>