<!-- Navigation-->

<nav class="navbar navbar-expand-lg navbar-primary fixed-top" id="mainNav"><br>

    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top"><img src="assets/images/img1.jpg" alt="logo" class="d-block w-50" /></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

        <div class="collapse navbar-collapse" id="navbarResponsive"><br><br>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#prestations">Nos prestations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#prestataires">Nos Prestataires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Nous contacter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#login">Se connecter</a>
                </li>
            </ul>
        </div>
    </div>
</nav>