<br><br>
<h1 class="text-center">Nous vous remercions d'avoir effectué votre achat chez {{nomentreprise}}!</h1>
            <p class="text-center">Votre commande à été validée et vous recevrez un email de confirmation dans quelques minutes</p>
            <p class="text-center id-confirmation">Votre numéro de commande est le suivant</p>
            <p class="text-center id-confirmation">Le montant total de votre commande est de {{panier.totalPanier}} euros.</p> 
            <img src="/completed.svg" class="w-50 mt-4 ml-4" alt="Votre commande est validée">