<br><br>
<div class="display-5 text-center" style="font-weight: bold; font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">Nous vous remercions d'avoir effectué vos achats chez SND Travaux!
</div><br><br>
<p class="text-center">Votre commande à été validée et vous recevrez un email de confirmation dans quelques minutes</p>
<p class="text-center id-confirmation">Le montant total de votre commande est de {{panier.totalPanier}} euros.</p>
<div class="col-12 text-center">
    <img src="assets/images/completed.svg" class="mt-6 ml-4 " alt="Votre commande est validée">
</div>