<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="text-center text-uppercase" style="
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
      ">
            Les prestations proposées par nos artisans
        </h2>
        <br />
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col w-50">
                <div class="card shadow-lg">
                    <img src="assets/images/img8.png" class="rounded" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" />
                    <title>Placeholder</title>

                    <div class="card-body">
                        <h2 class="card-text font-weight-bold text-center">Menuiserie</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <ul>
                                <li>Pose de portes intérieures</li>
                                <li>Pose d'escaliers</li>
                                <li>Pose de rangements intérieurs</li>
                                <li>Pose de portes extérieures</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-50">
                <div class="card shadow-lg">
                    <img src="assets/images/plomberie.jpg " class="rounded" width="100% " height="225 " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false " />
                    <title>Placeholder</title>

                    <div class="card-body">
                        <h2 class="card-text font-weight-bold text-center">Plomberie</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <ul>
                                <li>Réparation de fuite d'eau</li>
                                <li>Construction de la tuyauterie générale</li>
                                <li>Raccordement tuyauteries divers</li>
                                <li>Installation de chaudière</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-50">
                <div class="card shadow-lg">
                    <img src="assets/images/maconerie.png " class="rounded" width="100% " height="225 " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false " />
                    <title>Placeholder</title>

                    <div class="card-body">
                        <h2 class="card-text font-weight-bold text-center">Maçonnerie</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <ul>
                                <li>Pose de carrelage</li>
                                <li>Construction de mur porteur</li>
                                <li>Construction de mur non porteur</li>
                                <li>Pose de terrasse en bêton</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col w-50">
                <div class="card shadow-lg">
                    <img src="assets/images/peinture.jpg " class="rounded" width="100% " height="225 " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false " />
                    <title>Placeholder</title>

                    <div class="card-body">
                        <h2 class="card-text font-weight-bold text-center">Peinture</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <ul>
                                <li>Peinture de cloisons extérieures</li>
                                <li>Peinture de murs intérieurs</li>
                                <li>Décapage de murs ou plafonds</li>
                                <li>Peinture de plafonds</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>